.container {
    display: flex;
    flex-direction: column;
}

.gridClass {
    display: flex;
    height: 100px;
}

.grid-inner {
    flex-grow: 0;
    border: 1px solid black;
    min-width: 100px;
    min-height: 100px;
    max-width: 500px;
    max-height: 500px;
}

button {
    padding: 5px;
    margin: 20px 0;
    font-size: 25px;
}